<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartrecruit.interview.repository.InterviewFeedbackMapper">

    <select id="selectByInterviewId" resultType="com.smartrecruit.interview.entity.InterviewFeedback">
        SELECT * FROM rec_interview_feedback
        WHERE interview_id = #{interviewId}
        ORDER BY create_time DESC
    </select>

</mapper>
